
<div class="category-search-container">
	<!-- <input type="text"  [(ngModel)]="category" placeholder="Enter category (e.g. Java, Angular, Spring Boot)" class="category-search-input" />
	<button (click)="searchByCategory()" class="category-search-btn">Search</button> -->

	<input [formControl]="categoryControl" placeholder="Enter category (e.g. Java, Angular, Spring Boot)" class="category-search-input" />

</div>
<div *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</div>
<div *ngIf="loading" class="loading-msg">Loading...</div>
<div class="questions-table-container" *ngIf="questions && questions.length > 0">
	<table class="questions-table">
		<thead>
			<tr>
				<th>Sr.No.</th>
				<th>Title</th>
				<th>Difficulty</th>
				<th>Answer</th>
				<th>Category</th>
			</tr>
		</thead>
		<tbody>
			@for (q of questions; track q.id) {
				<tr>
					<td>{{ $index + 1 }}</td>
					<td>{{ q.questionTitle }}</td>
					<td>{{ q.difficultylevel }}</td>
					<td>{{ q.rightAnswer }}</td>
					<td>{{ q.category }}</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div *ngIf="!loading && questions && questions.length === 0 && !errorMsg" class="no-questions-msg">
	No questions found for this category.
</div>
