<div class="signup-container">
	<form (ngSubmit)="onSubmit()" autocomplete="off">
		<h2 class="signup-title">Sign Up</h2>
		<div class="form-group">
			<label for="username">Username</label>
			<input id="username" name="username" type="text" [(ngModel)]="username" required minlength="2" maxlength="32" placeholder="Enter your username" />
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input id="email" name="email" type="email" [(ngModel)]="email" required placeholder="Enter your email" />
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input id="password" name="password" type="password" [(ngModel)]="password" required minlength="6" maxlength="32" placeholder="Enter your password" />
		</div>
		<button type="submit" class="signup-btn" [disabled]="loading">{{ loading ? 'Signing Up...' : 'Sign Up' }}</button>
		<div *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</div>
		<div *ngIf="successMsg" class="success-msg">{{ successMsg }}</div>
		<div class="login-link">
			Already registered?
			<a (click)="goToLogin()">Login here</a>
		</div>
	</form>
</div>
