
<nav class="navbar dark-navbar">
  <div class="navbar-container" *ngIf="sharedService.isLoggedInSignal()">
    <button routerLink="/dashboard" routerLinkActive="active" class="nav-btn nav-text-btn" title="Home">
      Home
    </button>
    <button routerLink="/QuestionsDashboard" routerLinkActive="active" class="nav-btn nav-text-btn" title="Questions">
      Questions
    </button>
    <button routerLink="/QuizDashboard" routerLinkActive="active" class="nav-btn nav-text-btn" title="Quiz">
      Quiz
    </button>
    <button routerLink="/admin-dashboard" routerLinkActive="active" class="nav-btn nav-text-btn" title="Admin">
      Admin
    </button>
    <button routerLink="/feedback" routerLinkActive="active" class="nav-btn nav-text-btn" title="Feedback">
      Feedback
    </button>
    <button (click)="logout()" class="nav-btn nav-text-btn" title="Logout">
      Logout
    </button>
  </div>
  <div class="navbar-container" *ngIf="!(sharedService.isLoggedInSignal())">
    <span style="color: white; background: none;" class="welcome-message">Welcome to the Quiz App! Please log in or sign up.</span>
  </div>
</nav>
<app-loader *ngIf="loaderService.isLoading | async"></app-loader>
<router-outlet></router-outlet>
<footer class="app-footer">
  <span>Created by <strong>GANESH GAVHANE</strong> &copy; {{ currentYear }}</span>
</footer>