html, body {
	height: 100%;
	margin: 0;
	font-family: 'Poppins', Arial, sans-serif;
	background: #f8f9fd;
	background-image: url('assets/quiz.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}
/* You can add global styles to this file, and also import other style files */
